@font-face {
    font-family: arabicFont;
    src: url(GE_Dinar_One_Medium.ttf);
  }
  
  

body{
    background-color:#EDF1F3;
    margin: 0;
    text-align: center;
    font-family: arabicFont, sans-serif;
    padding: 0;
    
}

/*----------------- Header Below ---------------*/

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size:18px;
    padding: 0.4rem 1rem;
    
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    text-align: left;
    height: 100%;

}
.language-en{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
}
.language-pic{
    height: 32px;
    filter: invert(17%) sepia(97%) saturate(3030%) hue-rotate(262deg) brightness(90%) contrast(92%);
   
}

.login{
    padding: 0 0.5rem;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    
}

.history{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    
}

.history-text{
    margin: 0 0.5rem;
    
}
.folder{
    height: 32px;
    filter: invert(17%) sepia(97%) saturate(3030%) hue-rotate(262deg) brightness(90%) contrast(92%);
    
}
.logo{
    height: 84px;
    
}

.header a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    background-color: rgba(0, 0, 0, 0.05);
    transition: 400ms;
    
}

@media(max-width: 660px ) {
    
    .left-side {
        gap: 1rem;
    }
    .right-side{
        gap: 1rem;
    }

   
    
    
}

/*----------------- Main Box Below ---------------*/
.main-box{

    width: 800px;
    max-width: 90%;
    height: 418px;
    max-height: 60%;
 
 
    position: relative;
    left: 50%;
    top:calc(50% - 2.8rem);
    transform: translate(-50%, -50%);
    font-size: 22;
    font-weight: bold;
}

.top-buttons{
    display: flex;
    justify-content: space-between;
}
.file-button{
    background: white;
    width: 49%;
    height: 92px;
    display: grid;
    align-items: center;
    border-radius: 8px 8px 0 0;
    transition-duration:450ms ;
}

.url-button{
    background-color: #E5E8EB;
    width: 49%;
    height: 92px;
    display: grid;
    align-items: center;
    
    border-radius: 8px 8px 0 0;
    transition-duration:450ms ;
    cursor:pointer;
    
}
/*.url-button:hover{
    color: #712DC8;
    
}*/

.bottom-box{
    background-color: white;
    height: calc(100% - 92px);
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.06)
}

.drag-box{
    border-width: 1px;
    
    height: 84%;
    width: 84%;
    border-style: dashed;
    border-collapse: separate;
    border-spacing: 200px;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.url-box{
    width: 80%;
    display: none;
    position: relative;

}
.url-field{
   
   
}
.text{
    text-align: right;
    margin-bottom: 10;
}
.text-field{
    width: 100%;
    height: 48px;
    border-color: rgb(179, 179, 179);
    border-style:solid;
    border-width: 1;
    border-radius: 8px;
    
}
::placeholder{
    font-size: 16px;
    text-align: right;
    font-family: arabicFont;
    opacity: 0.5;
    margin-right:10px ;
}

.cloud-img{
    height: 64px;
    filter: invert(17%) sepia(97%) saturate(3030%) hue-rotate(262deg) brightness(90%) contrast(92%);
   
   

}
h3{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 8;
    font-weight: normal;
}
span{
    color: #712DC8;
}

/*----------------- Result Page Below ---------------*/
@media (max-width:1170px) {
    .title-container{
        max-width: 50%;
    }
    .result-container{
        max-width: 40%;
    }
    .result{
        width: 100%;
        aspect-ratio: none;
        
    }
    
}
.result-box{
    margin-top: 60px;
    width: 94%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

   
}

.top-section{
    height: 30rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 2.5rem;
}
@media(max-width: 660px ) {
    .top-section{
        height: 20rem;
        margin-bottom: 1rem;
    }

    .progress-value{
        font-size: 2.5vh; 
    }
    
}

.title-container{
    width: 80%;
    height: 100%;
    position: relative;
    
}
h1{
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}
.result-title{
    background-color: white;
    min-height: 90%;
    border-radius: 8px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    
}

.row-container{
    
    width: 90%;
    height: 25%;
    text-align: right;
    font-family: sans-serif;
    font-size: 1rem;
}

.row-text{
    text-overflow:ellipsis;
    overflow: hidden;
    direction: rtl;
    margin: 0 10px;
}

.boldh3{
    font-weight: bold;
    margin-bottom: 10px;
    
}

.boldh2{
    font-family: arabicFont;
    font-size: 1.2rem;
}

.hash{
    height: 48px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    background-color:#EDF1F3;
    display: flex;
    align-items: center;
    justify-content: right;
    
}


.result-container{
    
    position: relative;
    
}
.result{
    position: relative;
    background-color: white;
    height: 90%;
    aspect-ratio: 1.1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}

.bottom-container{
    padding-top:15;
}

.bottom-section{
    background-color: white;
    width:100%;
    min-height: 173;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.bottom-cell{
    
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: right;
    padding: 20px 60px;
}

.cell-text{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: sans-serif;
}

.cell-span{
    color: rgba(0, 0, 0, 0.42);
    font-size:16px;
    margin: 0;
    font-family: arabicFont;
}

.bottom-icons{
    height: 32px;
    opacity: 0.42;
    padding: 0 10px;
}

.windows{
    height: 16px;
    
}

/* ----- Score progress ----- */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.circular-progress{
   position: relative;
    width: 55%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: conic-gradient(#00843D 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
   position: absolute;
    width: 83%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    padding: 0.2rem;
}
.progress-value{
    position: relative;
    font-family: poppins;
    font-size: 3.5vh;
    font-weight: 600;
    color: #00843D;
}

.result-decision{
    background-color: #00843D;
    width: 33%;
    height: 38px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: normal;
    font-size: 1.3rem;
}



/* ----------- History -------- */
.history-container{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    width: 96%;
    min-height:86% ;
    position: relative;
}

.history-top{
    display: flex;
    justify-content: space-between;
}

.general-history{
    background: white;
    width: 49%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    transition-duration:450ms ;
    
}

.your-history{
    background: #E5E8EB;
    width: 49%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    transition-duration:450ms ;
    
}

.history-bottom-box{
    background-color: white;
    top: 92px;
    width: calc(100% - 160px);
    min-height: calc(100% - 252px);
    border-top: 1px black solid;
    border-color: rgba(0, 0, 0, 0.08);
    padding: 80px;
    
}

.search-container{
    height: 48px;
    max-width: 720px;
    position: relative;
    display: flex;
    margin-bottom: 2.5rem;
}

.search-button{
    border: none;
    background-color: #712DC8;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    margin: 0;
    
}
.search-button:hover{
    opacity: 0.9;
}

.search-icon{
    height: 32px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(102%) contrast(101%);
}

.search-field{
    height: 48;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color:  #E5E8EB;
    direction: rtl;
    
}

table{
   
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    min-width: 600px;
    
}
td{
    padding: 1rem;
}

  
  

table tbody tr{
    background-color: #E7E7E7;
    border-bottom:1rem solid white ;
    height: 96px;
    
}

table tbody{
    
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
   
}

table a{
    text-decoration: none;
    color: #1773C8;
    padding: 0.5rem;
}

table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
  }

  table tbody tr td:nth-child(2){
    

  }
  
  .table-result{
    background-color: #00843D;
    width: 65%;
    height: 38px;
    border-radius: 8px;
    display: grid;
    align-items: center;
    color: white;
    font-weight: normal;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  